<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/admin.css">
    </head>

    <body>
        <div class="home">
            <div class="container1">
                <div class="contain">
                    <form class="login" action="/settings" method="post">
                        <h1 class='head' id="head">Login</h1>
                        <label for="" class="input-head">Username</label>
                        <input type="text" placeholder="Enter Username" class="input" name = "Username" required>
                        <label for="" class="input-head">Password</label>
                        <input type="password" placeholder="password" class="input" name = "pass" required>
                        <button class="card-button" type="submit">
                            <span class="txt2"> LOGIN! </span> 
                         </button>
                    <from>
                </div>
                
            </div>
        </div>
    </body>
</html>