<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="css/index.css">
    </head>

    <body>
      
        <div class='home'>
          
            <div class="container1">
            <div class='contain'>


              <div class="card-content">
                <form class="admin" method="get" action="/admin">
                  <button class="admin-button"></button>
                </form>
              <h1 class='head' id="head">MAJID</h1>
              <form action="/name">
              <button class='card-button' >
                <span class='btn-txt'>START</span>
              </button>
            </form>
              </div>
    

            </div>
            
        </div>
          
          </div>
          

    </body>
</html>