<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="css/index.css">
    </head>

    <body>
      <form class="admin" method="get" action="/admin">
        <button class="admin-button"></button>
      </form>
        <div class='home'>
            <div class="container1">
            <div class='contain'>
              <div class='img'>
                <img src="static/yellow.png" class='yellow' alt="yellow jigsaw" />
              </div>
              <div class="card-content">
              <h1 class='head' id="head">MAJID</h1>
              <form action="/name">
              <button class='card-button' >
                <span class='btn-txt'>START</span>
              </button>
            </form>
              </div>
    
              <div class='yellow2'>
                <img src="static/yellow.png" class='yellow4' alt="yellow jigsaw" />
                <img src="static/yellow.png" class='yellow3' alt="yellow jigsaw" />
              </div>
            </div>
            
        </div>
          
          </div>

    </body>
</html>