<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="css/game.css">
      <script src="js/headbreaker.js"></script> 
    </head>
    <body>
      


        <!-- <div id="my-canvas">
        </div> -->
        <div class="game">
          <div class= "left">
            <form action="/leaderboard-post" method="POST">
              <div>
              <div class="scorecontain">
                  <p class="score" id="time"></p>
                  <input type="hidden" value="12" id="s" name="s"></input>
              </div>
              <div class="mobtxt">
              <p >Complete the puzzle before the time runs out!</p>
            </div>
            </div>

              <div class="scorecanvas" id="my-canvas" onmousedown="start()" ontouchstart="start()">

              </div>
              <div class="Results" >
                
                  <button class="scorebutton" id="time" type="submit">
                      SEE RESULTS!
                  </button>
              </div>
            </form>
          </div>

          <div class= "right">
             <p class="txt">Complete the puzzle before the time runs out!</p>
             <p class="txt2">MAJID</p>
          </div>
      </div>
        <script>
          // ...and a script with the following code:
          const rand = Math.floor(Math.random() * (2 - 1 + 1)) + 1;

          var art = "";
          if(rand == 1){
            art = "Artwork1.jpg";
          }
          else{
            art = "Artwork2.jpg"
          }
          let dali = new Image();
          dali.src = 'static/'+art;
          dali.onload = () => {
            const offstage = new headbreaker.Canvas('my-canvas', { width: 1000, height: 500,
    pieceSize: {x: 125, y: 125}, proximity: 9, strokeWidth: 1.5,
    lineSoftness: 0.18, image: dali,
    // ... more configs ...
    preventOffstageDrag: true,
    outline: new headbreaker.outline.Rounded(),
    fixed:true
  });

  offstage.adjustImagesToPuzzleHeight();
  offstage.autogenerate({
    horizontalPiecesCount: 5,
    verticalPiecesCount: 4,
    insertsGenerator: headbreaker.generators.flipflop
  });
  offstage.shuffle(0.7);
  offstage.draw();

  offstage.attachSolvedValidator();
  offstage.onValid(() => {
    console.log("SOLVED!");
    const element = document.querySelector('.Results');
    element.style.visibility = 'visible';

    var input = document.getElementById("s"); //Select your button element
    input.setAttribute("value",time); //Set value attribute to your element
    
  })

          }

    var time = 60;
    var i = 0;
    var c = null;
    document.getElementById("time").innerHTML ="1:00";
    
    function count (){
      time--;
      document.getElementById("time").innerHTML = "00:" + time;
      console.log(time);
      if(time === 57){
        clearInterval(c);
      }
    }

    function start(){
      if(i==0){
      c = setInterval(count,1000);
      i++;
      }
    }


    

  //   const counter = () =>{
  //   const count = () => {
  //     time--;
  //   }

  //   setInterval(count, 1000);
  //   console.log(time);
  // }

  // counter();
        </script>




<style> .form-group { margin-top: 15px; } #responsive-canvas .konvajs-content canvas, #offstage-canvas .konvajs-content canvas { border: solid !important; } #validated-canvas-overlay { position:absolute; left:0; top: 0; margin: 0; padding: 0; opacity: 0; pointer-events: none; transition: opacity 1s ease-in-out; } #validated-canvas-overlay.active { opacity: 1; } </style>

</body>
</html>