<!DOCTYPE html>
<html>
    <head>
        
      <link rel="stylesheet" href="css/name.css">
    </head>

    <body>
        <div class='home'>
            <div class="container1">
                <form class= "cardcontent" action="/game" method="POST">
                    <h1 class="head">MAJID</h1>
                    <div>
                        <p class="txt">YOUR NAME</p>
                        <input class="input" type="text" name="Name" id="Name" required />
                    </div>
                    <button class="card-button" type="submit">
                       <span class="txt2"> LET'S PLAY! </span> 
                    </button>
                </form>
        </div>
          
          </div>
          
    </body>
</html>